body{
	background-color: #191F27;
}

#main
{
	color: #DDD;
}

.md
{
  margin: 0 30px;
  font-family: serif;
  font-size: 18px;
}

.md pre
{
	background-color: #3b475a;
	color: inherit;
}

#main > div
{
  background-color: #2C3949;
  margin-bottom: 30px;
  padding-bottom: 18px;
}

h2, h3
{
  margin: 0 0;
  font-family: serif;
}

h4
{
  margin-bottom: 3px;
}

.titleContents
{
  margin-bottom: 10px;
  text-align: center;
}

code
{
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

blockquote
{
	border-left: 2px solid #5C7394;
}

.jumbotron
{
	font-family: serif;
	font-variant: small-caps;
	text-rendering: auto;
	background: #3b475a;
	color: #DDD;
}

#phenomenon
{
	position: absolute;
}