.md
{
  margin: 0 30px;
  font-family: serif;
  font-size: 18px;
}

.chapter
{
  margin: 0 21em 55px 21em;
}

h2, h3
{
  margin: 0 0;
  font-family: serif;
}

h4
{
  margin-bottom: 3px;
}

.titleContents
{
  margin-bottom: 10px;
  text-align: center;
}

code
{
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

.jumbotron
{
	font-family: serif;
	font-variant: small-caps;
	text-rendering: auto;
	background: #355C63;
	color: #f5f5f5;
}

#phenomenon
{
	position: absolute;
}